# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Ignore package/build folders
build/
dist/
*.egg-info/
.eggs/
*.egg

# Ignore model files
*.pkl
*.joblib
*.h5

# Ignore logs
*.log

# Ignore environment variables / secrets
.env

# IDE/editor-specific
.vscode/
.idea/

# Jupyter / IPython
.ipynb_checkpoints

# Pytest / Coverage / Caches
.pytest_cache/
.tox/
.coverage
.cache
.mypy_cache/

