# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

# VS Code
.vscode/
.history/

# Python
__pycache__/
*.py[cod]
*.class
env/
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Build
build/
dist/
*.egg-info
.eggs/

# Logs
*.log
logs/
debug.log

# Configs / secrets
.env
*.env
*.ini
*.toml

# Cache
.pytest_cache/
.mypy_cache/
.cache/
